<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bank</key>
	<dict>
		<key>ABC</key>
		<array>
			<string>农业银行</string>
			<string>单笔50000/日100W</string>
		</array>
		<key>BOC</key>
		<array>
			<string>中国银行</string>
			<string>单笔20000/日50000</string>
		</array>
		<key>BOS</key>
		<array>
			<string>上海银行</string>
			<string>单笔20000/日50000</string>
		</array>
		<key>HXB</key>
		<array>
			<string>华夏银行</string>
			<string>(单笔50000(首次2000)/日100W)</string>
		</array>
		<key>CCB</key>
		<array>
			<string>建设银行</string>
			<string>单笔50000/日100W</string>
		</array>
		<key>ICBC</key>
		<array>
			<string>工商银行</string>
			<string>单笔50000/日50000</string>
		</array>
		<key>CEB</key>
		<array>
			<string>光大银行</string>
			<string>单笔50000/日100W</string>
		</array>
		<key>CIB</key>
		<array>
			<string>兴业银行</string>
			<string>单笔50000/日100W</string>
		</array>
		<key>PSBC</key>
		<array>
			<string>中国邮储银行</string>
			<string>单笔20000/日50000</string>
		</array>
		<key>CITIC</key>
		<array>
			<string>中信银行</string>
			<string>单笔50000/日100W</string>
		</array>
		<key>CMB</key>
		<array>
			<string>招商银行</string>
			<string>(单笔50000(首次5000)/日100W)</string>
		</array>
		<key>CMBC</key>
		<array>
			<string>民生银行</string>
			<string>(单笔50000(首次5000)/日100W)</string>
		</array>
		<key>SZPAB</key>
		<array>
			<string>平安银行</string>
			<string>(单笔50000(首次5000)/日100W)</string>
		</array>
		<key>GDB</key>
		<array>
			<string>广东发展银行</string>
			<string>(单笔50000(首次10000)/日100W)</string>
		</array>
	</dict>
</dict>
</plist>
