<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>为什么要进行实名认证？</key>
	<string>为了确保用户的资金安全，用户在平台注册成功首次投资前进行实名认证，认证信息需要关联第三方支付 平台以及银行卡信息，为保障您的个人权益，请填写真实姓名。</string>
	<key>为什么进行不了银行卡认证？</key>
	<string>用户只有先在平台注册才能进行银行卡认证，确保银行卡开户人与用户真实姓名匹配。</string>
	<key>为什么要绑定手机？</key>
	<string>通过绑定手机，用户能够及时得到在旺马财富平台进行理财操作的信息，随时掌控账户动态，保证用户操作是您本人所为，便于用户忘记密码造成不能登录等问题时收到短信验证信息。</string>
	<key>为什么没有收到绑定手机的短信验证码？</key>
	<string>首先确认您的手机是否真正绑定成功，如未绑定成功请重新进行绑定。绑定成功的手机短信验证码一般在1—3分钟内可收到，如长时间未收到，请确认是否被手机软件拦截。如未拦截，请确认手机号是否正确。如正确，可在60秒后，点击重新发送验证码。</string>
	<key>忘记密码了要怎么办？</key>
	<string>通过绑定手机号找回，需获取字段信息有：手机号、短信验证码、新密码、确认密码。</string>
	<key>忘记交易密码怎么办？</key>
	<string>您可以点击我的账户-提现或者充值-在交易密码旁边有一个忘记密码，通过步骤找回密码即可。</string>
	<key>遗失银行卡的话怎么办？</key>
	<string>您可以先去银行挂失，如果急需购买理财项目，您也可以登录网页后，确认账户余额为0的情况下，点击我的账户-绑卡管理申请绑定其它银行卡。</string>
	<key>可不可以更改手机号码？</key>
	<string>目前无法更换手机号。</string>
	<key>注册时候的“登录密码”和验证时的“支付密码”有什么区别？</key>
	<string>旺马财富账户密码分为登录密码及支付密码两种类型；登录密码用于用户登录旺马财富平台；支付密码是涉及到账户信息变动或资金变动时需要用来确认的密码。为了您的账户安全性考虑，支付密码与登录密码不能相同，且支付密码需是6位数字形式。</string>
	<key>可以使用哪些帐号登录？</key>
	<string>您可以用您注册时填写的手机号登录</string>
	<key>订单取消未付款，为什么订单就消失了？</key>
	<string>因为在已完成的订单中取消未付款订单是无效的订单，平台对于这种无效的订单仅保留七天。</string>
	<key>为什么无法绑定银行卡？</key>
	<string>（1）如果出现银行卡信息校验失败，有可能是您提交的证件号码，姓名，手机号码，信息不是所绑卡在银行预留的信息。 
（2）已经开通了快捷支付功能，账户余额不为0的情况，无法重新绑定新的银行卡，请先清空账户余额。 
（3）关于【工行】绑卡下面几种情况不支持： 
1、用户必须柜面留存手机，电话留存的手机号码不可以； 
2、用户卡不能是集体卡，单位集体办理的卡一律不能使用； 
3、同一个用户不能有跨省卡。如A有一张北京工行卡，一张上海工行卡，那A的工行卡都不可以使用</string>
	<key>什么是免费的提现额度？</key>
	<string>正常投资的本金和本息以及退款都是在免费的提现额度内的。
购买本平台理财产品，赎回或到期还款时，增加免费提现额度，增量为购买金额 + 利息。
当免费提现额度大于等于该账户中的所有资金时，则免费提现额度不再增加。</string>
	<key>旺马财富账户充值有没有限额？</key>
	<string>旺马财富平台目前支持银行储蓄卡网上银行的方式进行充值，为了让用户的资金能够合理的有效利用，旺马财富目前没有最低充值金额限制，最高充值金额会根据使用不同的银行卡有所不同。</string>
	<key>网银充值渠道的单笔限额和每日累计限额分别是多少？</key>
	<string>单笔限额和每日累计限额会根据银行自己本身的规定有所不同，详情请见旺马财富网银页面的相关提示信息。</string>
	<key>提现资金多久能到银行卡上？</key>
	<string>普通账户提现到银行卡次日到卡，最迟三天，提现是自然日，节假日也可以到账，
存钱罐账户15点之前提现次日到账，15点之后提现T+2个自然日到账。</string>
	<key>为什么会出现提现失败？</key>
	<string>1.关联银行卡的持卡人姓名身份信息与实名认证信息不一致；
2.网络异常或系统繁忙；
3.银行本身对提现的银行卡做了限制</string>
	<key>如果发生提现失败，那么资金会怎么处理？</key>
	<string>如果发生了银行退票的情况，您的提现资金会在T+2个工作日退回到您的旺马财富账户，请注意查收。如果没有退回，请及时联系客服帮助您查询。</string>
	<key>提现有限额规定吗？</key>
	<string>有的，最高单笔提现限额为5万，每日20万。没有最低提现限额。</string>
	<key>存钱罐的收益提现需要手续费么？</key>
	<string>目前旺马财富平台，存钱罐的收益不计算在免费提现额度里面，您可以直接余额购买理财产品到期提现。</string>
	<key>为什么支付成功了，却提示我没有购买成功？</key>
	<string>出现此种情况，大多是因为在产品筹集期末，出现两人以上投资人同时购买，系统会自动认定最先确定购买的客户购买成功。其他购买者的资金会根据购买方式的不同返还的时间也有所不同。例如您使用余额方式购买，则退款将在2小时内返还到您在我们平台注册的第三方账户中，如果使用网银支付，则退款将在T+1个工作日内返还到您的银行卡中。</string>
	<key>投资到期后的收益如何计算？</key>
	<string>旺马财富成产品：当天的收益=昨日投资本金*昨日年化利率/365</string>
	<key>项目到期什么时候回款？</key>
	<string>旺马财富产品当天17：00前提交赎回申请，最快当日到账；17：00后提交的赎回申请，作为
次日的申请处理。节假日和法定假日顺延到工作日。</string>
	<key>为什么网银无法支付？</key>
	<string>如无法跳转到网银页面，您可以更换一个浏览器或者将浏览器卸载重新安装试一下。</string>
	<key>产品到期后会短信提醒吗？</key>
	<string>产品到期后，资金会返还到您的第三方账户中会有短信提醒的，
旺马财富赎回到账户余额也会有短信提醒。</string>
	<key>下单后多久必须付款完毕？</key>
	<string>10分钟以内。</string>
	<key>什么是风险准备金计划？</key>
	<string>“风险准备金计划”是旺马财富为保护平台全体理财人的资金安全而建立的风险准备金机制。平台的所有理财人经过平台身份认证后，在平台的投资行为均适用于“风险准备金计划”，理财人无需为此支付任何费用。</string>
	<key>风险准备金计划是如何运作的？</key>
	<string>旺马财富平台将初始准备金以及每笔交易成功撮合时按一定比例从平台服务费中提取的金额放入“风险准备金账户”，由银行代管。借款项目出现逾期时（即逾期超过5个工作日），根据“风险准备金资金使用规则”，通过“风险准备金”向理财人垫付此笔借款的剩余出借本息（不含罚息）。</string>
	<key>“风险准备金”资金使用规则？</key>
	<string>“风险准备金账户”资金使用遵循以下规则： 
（1）违约偿付规则：即当受保障借款的借款人（债务人）逾期还款超过5个工作日时，方才从“风险准备金账户”资金中提取相应资金偿付理财人（债权人）逾期应收赔付金额。 
（2）时间顺序规则：即“风险准备金账户”资金对借款项目的理财人（债权人）逾期应收赔付金额的偿付按照该借款项目成功募集完成的时间顺序进行偿付分配，同一借款项目中的偿付如没有优先债权则不分先后。 
（3）债权比例规则：即“风险准备金账户”资金对同一借款的《借款三方协议》项下不同理财人（债权人）逾期应收赔付金额的偿付按照各债权金额占同协议内发生的债权总额的比例进行偿付分配；当截至某日“风险准备金账户”资金当期余额不足以支付该日所有应享受“风险准备金账户”资金赔付的借款的理财人所对应的逾期应收赔付金额总额时，则该等理财人按照各自对应的逾期应收赔付金额占当期所有理财人对应的逾期应收赔付金额总额的比例进行偿付分配。 
（4）有限偿付规则：即“风险准备金账户”资金对借款的理财人（债权人）逾期应收赔付金额的偿付以该账户的资金总额为限。当该账户余额为零时，自动停止对理财人逾期应收赔付金额的偿付，直到该账户获得新的风险准备金。 
（5）收益转移规则：即当借款项目的理财人享有了“风险准备金账户”对某笔借款按照既定规则进行的偿付后，旺马财富即取得对应债权；该债权对应的借款人其后为该笔借款所偿还的全部本金、利息及罚息归属“风险准备金账户”；如该笔借款有抵押、质押或其他担保的，则旺马财富处置抵押质押物或行使其他担保权利的所得等也归属“风险准备金账户”。 
（6）金额上限规则：即当“风险准备金账户”内金额超过届时平台上发生的所有债权未清偿本金金额的5%时，旺马财富有权将超出部分转出该账户并自行支配。</string>
</dict>
</plist>
