<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>银票</key>
	<string>银行承兑汇票的简称。银行承兑汇票是由银行开具的到期兑付的书面凭证。根据《票据法》第七十三条规定：银行承兑汇票由银行承兑，银行承诺到期后会无条件兑付该票据金额给予该银承的所有人。在旺马财富，银承作为担保财产之一，在借款人不能按期清偿的情况下，抵押权人可以通过行使抵押权，实现权利。</string>
	<key>保管</key>
	<string>银行被委托来保管银行承兑汇票。银行有专门保管有价票据的保管箱，防止票据的丢失、盗窃、损坏等情况的发生，保护票据所有人的权益</string>
	<key>抵押</key>
	<string>指债务人或者第三人不转移某些财产的占有，将该财产作为债权的担保。债务人不履行债务时，债权人有权依法以该财产折价或者以拍卖、变卖该财产的价款优先受偿。 抵押是建立在某些特定的物之上的，是一种债的担保形式。</string>
	<key>质押</key>
	<string>是指债务人或第三人将其动产或者权利移交债权人占有，将该动产作为债权的担保，当债务人不履行债务时，债权人有权依法就该动产卖得价金优先受偿。</string>
	<key>无条件兑付</key>
	<string>根据《票据法》第七十二条规定：商业汇票是出票人签发的，委托付款人在指定日期无条件支付确定的金额给收款人或者持票人的票据。在旺马财富的众筹模式中，该票据是银行承兑汇票，所以根据该条文规定，由银行无条件兑付。票据到期后，银行将按照票据金额无条件支付给该票据的所有人。</string>
	<key>安全卡</key>
	<string>用户在首次快捷支付成功之后，那么这张卡将会在sina这边绑定，且成为安全卡。用户可以通过查询绑定银行卡列表查询到这张安全卡的信息，后期付款就只能用这张安全卡ID进行支付，提现交易，如果需要更换安全卡， 那么可以解绑这张安全卡，解绑安全卡需要用户账户的资金余额为0才可以解绑。</string>
	<key>债权转让</key>
	<string>债权转让规则如下：
（1）“债权转让”是平台推出的投资定期产品的债权人，在符合相关条件下，为了提前获得流动资金而出让未到期债权的业务。
（2）债权转让的条件是自起息日起持有定期产品债权满30天，且距项目到期日大于30天即可提出债权转让申请。
（3）转让有效期是指自债权出让人发布债权转让申请后，债权处于可被购买状态的有效时间，转让有效期一般72H。
（4）申请转让份数用来计算出让本金，举例：订单份额为100元/份，出让10份，转让本金为1000元。
（5）申请转让价格为出让人自定义的出让债权售价，即在债权转让结束时，出让人所得为已成功转让债权份额对应的申请转让价格扣除手续费后的剩余金额。申请转让金额上限不得超过转让本金+转让本金到期总收益（优惠券所得额外补贴收益不算在内），下限不得低于申请转让本金的50%。且一旦有受让人购买转让产品，转让产品原使用优惠券则自动作废。
（6）受让人的实际收益=到期到账本息（收益按原订单起息日到结息日计算）—实际购买支付金额
       举例：
       A用户购买定期90天产品100000元，年化收益率为8%，持有40天时申请转让50000元；100元/份，转让500份。
              订单总利息=本金*年化*持有期限/360=50000*8%*90/360=1000元
              到期到账本息=51000元
              出让人按50200元转让价格出售。
       B用户欲购买20000元该转让产品
              B用户实际支付金额=200份/500份*50200=20080元
              订单到期到账本息=20400元
              B用户到期总收益=到期到账本息-实际支付金额=320元
（7）购买债权转让产品的受让人仅可使用现金券和本金券。
（8）平台不参与出让人和受让人之间的交易，仅对出让人按转让金额*0.3%收取一定的手续服务费，低于0.01元按0.01元收取。
（9）出让人交易款会于转让结束时，全部支付到出让人在平台注册的第三方账户中。
（10）转让后年化=（转让本金+转让总收益-申请转让金额）*360/（本金*剩余期限）
              提示：转让后折算的年化利率过低会降低转让成功率，建议合理制定转让申请价格。 （11）产品详情页的预期收益=购买份数*原投资单位*转让后年化收益率*剩余期限/360。</string>
</dict>
</plist>
